* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2f0b69;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  display: block;
  font-size: 30px;
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkred;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 50px;
}


.header nav {
  padding-top: 15px;
  margin-right: 50px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}


.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.background img {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: contain;
  background-position: center;
}

/* this is the container for my about me  */
/* Adding a display of flex display */
.about-me-container {
  display: flex;
  padding: 20px;
  margin: 20px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: maroon;
  border: 5px solid black;
} 

.about-me {
  margin-bottom: 32px;
  color: #ffffff;
}

.about-me h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;
}

/* added display flex to center the profile picture  */
.about-me img {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  max-height: 400px;
}

/* this is the container for the main part of the project that holds the projects  */
.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin: 30px 30px;
}


/* created a header above the projects to desgin  */
.project-header {
  font-size: 60px;
  margin: 30px 30px;
  color: white;
  text-align: center;
}

/* projects classes and subclasses grouped together  */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 30px 30px;
  padding: 50px;
  border: 5px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: maroon;
  color: #ffffff;
}

/* Consilidated all 'projects' h3 elements into one syntax */

.projects h3 {
  display: flex;
  margin: 50px 50px;
  font-size: 36px;
}

/* Consilidated all 'projects' img elements into one syntax */

.projects img {
  max-height: 200px;
  
}

/* creating a specific class to increase the size of the first application */

.project-1 img {
 max-height: fit-content;

}

/* Changed the footer element into a class */
/* turned the footer into a parent container to adjust everything  */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  margin: 30px 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: maroon;
  border: 5px solid black;
}

.footer h4 {
  font-size: 40px;
  color: white;
}


/* added a display of inline block to set the li more to the right  */
.footer ul li {
  display: inline-block;
  margin-left: 25px;
  font-size: 30px;
}



/* still need to correct the first application image within the media query  */
/* created a media query so the containers fit properly in the collapsed window  */

@media screen and (max-width: 980px) {
  body {
      width: 100%;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 50px 50px;
    padding: 50px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    margin: 50px 50px;
    
  }

  .project-1 img {
    max-height: 100%;
   
   }
   
   .projects img {
    max-height: 150px;
    
  }
  
}