* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
   /* created a flex-flow so i can make the flex items fit in a column AND wrap  */
   flex-flow: column wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px;
  background: #13293d;
  color: #fff;
}

/* created a new class to style the heading for the project portion  */
.projects-tab {

}

.project {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.project-1 {
  flex: 2 0 800px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.project header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.project img {
  width: 100%;
  min-width: 400px;
}
